// font-size
$fz-xs: 0.75rem; // =12px
$fz-sm: 0.875rem; // =14px
$fz-md: 1rem; // =16px
$fz-lg: 1.125rem; // =18px
$fz-xl: 1.25rem; // =20px
$fz-2xl: 2rem; // =32px
$fz-3xl: 2.375rem; // =32px

// icon
$icon-title: 48px;
$icon-title-mask: 28px;

// for margin/padding
$space-2xs: 4px;
$space-xs: 8px;
$space-sm: 12px;
$space-md: 16px;
$space-lg: 20px;
$space-xl: 32px;
$space-2xl: 40px;
$space-3xl: 48px;
$space-section: 80px;
$space-section-sp: 60px;
