@use "../base/variables" as var;

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var.$space-md;
    &[data-list="dot"] {
        gap: var.$space-xs;
        list-style: square;
        margin-left: var.$space-md;
    }
}
strong + .list {
    margin-top: var.$space-xs;
}
